.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.selected {
    background-color: white;
}
.tab-element {
    &:hover {
        cursor: pointer;
    }
}
.not-selected {
    background-color: #efefef;
}
