.container {
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 600px;
    padding: 0.5rem;
    margin: 1rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.poster {
    width: 70%;
}
