.container {
    display: grid;
    grid-template-columns: 20% 45%;
    width: 100%;
}
.container-info {
    margin-left: 1rem;
}
.title {
    font-size: 2rem;
}
.plot {
    font-size: 1.2rem;
}
.poster {
    width: 100%;
}
.rating {
    font-size: 1.8rem;
}
.rating-number {
    font-size: 1.4rem;
}
.side-info {
    color: #6c757d;
}
.add-to-list-btn {
    border-radius: inherit inherit 0 0;
    margin-top: 4rem;
}
.setting-btn {
    font-size: 0.9rem !important;
    display: block;
    border-radius: 0 !important;
    &:hover {
        background-color: #24bb63;
    }
}
.add-to-list-btn {
    border-radius: 0.25rem 0.25rem 0 0;
}
@media only screen and (max-width: 767px) {
    .container-info {
        margin-left: 0;
    }

    .rating {
        font-size: 1.4rem;
    }
    .rating-number {
        font-size: 1.2rem;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .title {
        font-size: 1.2rem;
    }
    .plot {
        font-family: 1rem;
    }
}
