.avatar {
    width: 200px;
}
.username {
    padding: 0.5rem;
    font-size: 1.2rem;
}
.content {
    width: 100vw;
    background-color: white;
}
@media only screen and (max-width: 1024px) {
    .chart {
        width: 100%;
    }
}
@media only screen and (max-width: 425px) {
    .chart {
        font-size: 2rem !important;
    }
}
