.movie-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5rem;
}
.delete {
    &:hover {
        cursor: pointer;
        color: red;
    }
}
.title {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.gold {
    &:hover {
        color: #ebd037;
        cursor: pointer;
    }
}
.star {
    color: #ebd037;
    &:hover {
        cursor: pointer;
        color: black;
    }
}
