.app {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
.header {
    display: grid;
    grid-template-columns: 35% 55% 10%;
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
